[Desktop Entry]
Encoding=UTF-8
Name=Mobio
Comment=Mobio P2P Cryptocurrency
Comment[fr]=Mobio, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Mobio, eşten eşe kriptografik sanal para birimi
Exec=mobio-qt %u
Terminal=false
Type=Application
Icon=mobio128
MimeType=x-scheme-handler/mobio;
Categories=Office;Finance;
